.mj {
    text-align: center;
    margin: 20px;
}

.mj img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.mj h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.mj p {
    font-size: 16px;
    line-height: 1.5;
    color: gray;
    margin: 0 auto;
    width: 80%;
    cursor: pointer;
    transition: color 0.3s;
}
#bio {
color: gray;
cursor: pointer;
}
#bio:hover{
    color: red;

}